// Navigation code here

.navigation{
    .displayflexcenter();
    background-color:@sea-shell;
    margin-top: 2rem;

    .nav{
        padding:2rem;
        
        a{
            text-decoration: none;
            color:black;
            font-size:1.8rem; 
            
        }//closes the a element 
        a:hover{
            color:@river-bend;
        }//closes the hover a element
    }//closes the nav class
    .nav1{

    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: 1rem;

        

    }//closes the nav1 class for the main header
    }//closes navigation
